{% extends 'partials/base.html.twig' %}

{% block content %}
{{ dump(page.header) }}

	<p>{{ page.content }}</p>
	<table class="votes">
			<thead>
				<th>Projeto</th>
				<th>Ementa Cidadã</th>
				<th>Voto</th>
				<th>Justificativa</th>
				<th>Data</th>
			</thead>
		{% for vote in page.header.votes %}
			<tr class="vote">
				{% if vote.url %}
					<td data-label="Projeto"><a href="{{vote.url}}" target="_blank">{{vote.projeto}}</a></td>
				{% else %}
					<td data-label="Projeto">{{vote.projeto}}</td>
				{% endif %}
				<td data-label="Ementa">{{vote.ementa}}</td>
				<td data-label="Voto">{{vote.voto}}</td>
				<td data-label="Justificativa">{{vote.justificativa}}</td>
				<td data-label="Data">{{vote.data}}</td>
			</tr>
			{% endfor %}
	</table>
{% endblock %}
